<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem-Vindo ao sistema ASP.NET Web API!</h1>
            </hgroup>
            <p>
                Sistema desenvolvido para efetuar busca de músicas no servidor iTunes.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Abaixo estão os passos:</h3>
        <ol class="round">
            <li class="one">
                <h5>Menu iTunes</h5>
                No menu do topo, clique no link "iTunes".
            </li>

            <li class="two">
                <h5>Filtrar Artista</h5>
                Digite o nome do artista no campo "Filtrar Artista" e clique em "Buscar".
            </li>
            <li class="three">
                <h5>Localizando Músicas</h5>
                Após, será carregado as músicas de acordo com o artista escolhido.<br />
                Nota: Dependendo do artista escolhido, deverá aguardar alguns segundos para carregar todos os dados na tela.
            </li>
        </ol>
    </section>
</div>
